.wrapper {
    min-height: 65vh;
    position: relative;
    padding-top: 180px;
    padding-bottom: 130px;
    overflow: hidden;

    background:
            radial-gradient(
                    800px circle at 50% 40%,
                    rgba(211, 13, 23, 0.25) 0%,
                    rgba(211, 13, 23, 0.12) 30%,
                    transparent 50%
            )
            black;

    @media (max-width: $mantine-breakpoint-xs) {
        padding-top: 80px;
        padding-bottom: 50px;
    }
}

.inner {
    position: relative;
    z-index: 1;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.inner {
    position: relative;
    z-index: 1;
}

.title {
    font-weight: 800;
    font-size: 62px;
    letter-spacing: -1px;
    padding-left: var(--mantine-spacing-lg);
    padding-right: var(--mantine-spacing-lg);
    color: var(--mantine-color-white);
    margin-bottom: var(--mantine-spacing-lg);
    text-align: center;

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: 28px;
        text-align: left;
    }
}

.highlight {
    color: #fd1638;
}

.description {
    color: var(--mantine-color-gray-0);
    text-align: center;

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: var(--mantine-font-size-md);
        text-align: left;
    }
}

.controls {
    margin-top: calc(var(--mantine-spacing-xl) * 1.8);
    display: flex;
    justify-content: center;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);

    @media (max-width: $mantine-breakpoint-xs) {
        flex-direction: column;
    }
}

.control {
    height: 42px;
    font-size: var(--mantine-font-size-md);

    &:not(:first-of-type) {
        margin-left: var(--mantine-spacing-md);
    }

    @media (max-width: $mantine-breakpoint-xs) {
        &:not(:first-of-type) {
            margin-top: var(--mantine-spacing-md);
            margin-left: 0;
        }
    }
}

.secondaryControl {
    color: #fd1638;
    background-color: rgba(255, 255, 255, 1);

    @mixin hover {
        background-color: rgba(255, 255, 255, 0.50);
    }
}